# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

# Visual Studio 
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
*.sln
*.suo
*.pdb
ipch/
Debug/
Release/
Win32/Debug/
Win32/Release/

CMake*
Makefile
Testing/

CTestTestfile.cmake
bin/
test_bin/
